In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mplot

In [2]:
%matplotlib inline

In [3]:
gni = pd.read_csv('API_NY.GNP.PCAP.PP.CD_DS2_en_csv_v2.csv', skiprows= 3)
gni1 = pd.read_csv('API_NY.GNP.PCAP.PP.CD_DS2_en_csv_v2.csv', skiprows= 3)

In [4]:
gni.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 61'], 
           axis=1, inplace=True)
gni1.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 61'], 
           axis=1, inplace=True)

In [5]:
gni.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1250.0,1290.0,1530.0,1640.0,1730.0,1960.0,1970.0,1960.0,1940.0,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4910.0,5270.0,5720.0,5740.0,5920.0,6020.0,6390.0,6590.0,6470.0,NaN
4,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7870.0,8810.0,9190.0,9210.0,9610.0,10280.0,10440.0,10990.0,11090.0,NaN

In [ ]:
dir(gni)

In [6]:
gni.set_index('Country Name', inplace=True)

In [ ]:
gni.head()

In [7]:
gni.transpose().head()

Country Name,Aruba,Andorra,Afghanistan,Angola,Albania,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Vietnam,Vanuatu,West Bank and Gaza,World,Samoa,"Yemen, Rep.",South Africa,"Congo, Dem. Rep.",Zambia,Zimbabwe
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
gni = gni.transpose()

In [ ]:
type(gni.head())

In [9]:
gni["Nepal"]

1960       NaN
1961       NaN
1962       NaN
1963       NaN
1964       NaN
1965       NaN
1966       NaN
1967       NaN
1968       NaN
1969       NaN
1970       NaN
1971       NaN
1972       NaN
1973       NaN
1974       NaN
1975       NaN
1976       NaN
1977       NaN
1978       NaN
1979       NaN
1980       NaN
1981       NaN
1982       NaN
1983       NaN
1984       NaN
1985       NaN
1986       NaN
1987       NaN
1988       NaN
1989       NaN
1990     780.0
1991     830.0
1992     860.0
1993     890.0
1994     960.0
1995     990.0
1996    1030.0
1997    1080.0
1998    1100.0
1999    1150.0
2000    1220.0
2001    1290.0
2002    1290.0
2003    1340.0
2004    1420.0
2005    1510.0
2006    1600.0
2007    1690.0
2008    1800.0
2009    1890.0
2010    1970.0
2011    2050.0
2012    2170.0
2013    2270.0
2014    2440.0
2015    2500.0
2016       NaN
Name: Nepal, dtype: float64

In [ ]:
type(gni["Nepal"])

In [10]:
gni_np =gni["Nepal"]

In [11]:
gni_np = gni_np.dropna()

In [ ]:
gni_np

In [12]:
gni_min = gni1.min().dropna()

In [13]:
gni_max = gni1.max().dropna()

In [ ]:
gni_np.plot()

In [16]:
gni_min["1990"]

230.0

In [17]:
gni_min

Country Name    Afghanistan
1990                    230
1991                    250
1992                    230
1993                    240
1994                    250
1995                    260
1996                    330
1997                    360
1998                    400
1999                    400
2000                    400
2001                    380
2002                    390
2003                    310
2004                    330
2005                    380
2006                    430
2007                    490
2008                    520
2009                    530
2010                    560
2011                    580
2012                    610
2013                    590
2014                    600
2015                    620
dtype: object

In [18]:
life = pd.read_csv("API_SP.DYN.LE00.IN_DS2_en_csv_v2.csv", skiprows= 3)